.app-navigation {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    border-bottom: 2px solid var(--primary-color);
    z-index: 50;
}

.app-navigation .--desktop-only {
    display: none;
}

.app-navigation__left {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.app-navigation__center {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-navigation__right {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-navigation__button.side-panel-button {
    /* height: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

/* .app-navigation__button.side-panel-button div {
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    top: 0px;
}

.app-navigation__button.side-panel-button div::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    display: block;
    position: absolute;
    top: 4px;
}

.app-navigation__button.side-panel-button div::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    display: block;
    position: absolute;
    top: 8px;
} */

@media (min-width: 1024px) {

    .app-navigation__left {
        width: 20%;
        justify-content: left;
    }

    .app-navigation__center {
        width: 60%;
    }

    .app-navigation__right {
        width: 20%;
    }

    .app-navigation .--desktop-only {
        display: flex;
    }

    .app-navigation .--mobile-only {
        display: none;
    }

}

.app-navigation-element {
    padding: 15px 14px;
}

.app-navigation-element.app-logo {
    font-family: sans-serif;
    font-weight: 900;
}

.app-navigation-element.app-navigation__button {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: all 0.3s ease 0s;
}

.app-navigation-element.app-navigation__button:hover,
.app-navigation-element.app-navigation__button.current-url {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.app-navigation-element.app-navigation__button.current-url {
    cursor: default;
}